<script type="text/x-handlebars" data-template-name="reset-password">
<div class="row" style="margin:0px;">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	&nbsp;
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	<div class="box box-solid box-primary" style="text-align:left; margin:0px; margin-top:40px;">
	<div class="box-header with-border">
		<h3 class="box-title">Reset Password</h3>
	</div>
	<div id="div-reset-password-alert-message" class="box-body callout callout-danger" style="display:none;">
		<span id="reset-password-alert-message">Alert!</span>
	</div>
	<div id="div-reset-password-success-message" class="box-body callout callout-success" style="display:none; border-radius:0px">
		<span id="reset-password-success-message">Success!</span>
	</div>
	<form role="form">
	<div class="box-body">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="form-group" id="div-reset-password-username">
				<label>Twy'r Portal Username</label>
				{{input id="input-reset-password-username" type="text" value=resetUsername class="form-control" placeholder="username@twyrportal.com"}}
			</div>
			<div class="form-group">
				<button id="button-reset-password" type="submit" class="btn btn-block btn-primary" {{action "resetPassword"}}>Reset Password</button>  
			</div>
		</div>
	</div>
	</form>
	</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	&nbsp;
</div>
</div>
</script>

<script type="text/x-handlebars" data-template-name="register-account">
<div class="row" style="margin:0px;">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	&nbsp;
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	<div class="box box-solid box-primary" style="text-align:left; margin:20px 0px;">
		<div class="box-header with-border">
			<h3 class="box-title">Register New Account</h3>
		</div>
		<div id="div-register-account-alert-message" class="box-body callout callout-danger" style="display:none;">
			<span id="register-account-alert-message">Alert!</span>
		</div>
		<div id="div-register-account-success-message" class="box-body callout callout-success" style="display:none; border-radius:0px">
			<span id="register-account-success-message">Success!</span>
		</div>
		<form role="form">
		<div class="box-body">
			<div class="form-group" id="div-register-account-username">
				<label>Username / Login<sup>*</sup></label>
				{{input id="input-register-account-username" type="email" value=username class="form-control" placeholder="username@twyrportal.com"}}
			</div>
			<div class="form-group" id="div-register-account-firstname">
				<label>First Name<sup>*</sup></label>
				{{input id="input-register-account-firstname" type="text" value=firstname class="form-control" placeholder="First/Given Name"}}
			</div>
			<div class="form-group" id="div-register-account-lastname">
				<label>Last Name<sup>*</sup></label>
				{{input id="input-register-account-lastname" type="text" value=lastname class="form-control" placeholder="Last/Family Name or Surname"}}
			</div>
			<div class="form-group">
				<button id="button-register-account" type="submit" class="btn btn-block btn-primary" {{action "registerAccount"}}>Register</button>
			</div>
		</div>
		</form>
	</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	&nbsp;
</div>
</div>
</script>

