<script type="text/x-handlebars" data-template-name="components/organization-manager-team-groups">
<div class="box box-default" style="text-align:left;">
	<div class="box-header with-border">
		<h3 class="box-title">{{model.user.fullName}}&apos;s Groups</h3>
	</div>
	<div class="box-body no-padding">
		<div class="col-md-5" style="margin:0px; padding:0px;">
			<div id="organization-manager-team-groups-unused-tree-container" style="min-height:250px; max-height:250px; border-right:1px solid #f4f4f4; padding-top:10px;">&nbsp;</div>
		</div>
		<div class="col-md-2" style="margin:0px; padding:0px;">
			<div class="form-group" style="min-height:250px; max-height:250px; margin:0px 0px; border:0px; padding: 90px 0px 0px; text-align:center;">
			    <button type="button" id="organization-manager-team-groups-button-add-group" class="btn btn-default btn-sm" style="width:80%; margin-bottom:5px;" {{action "controller-action" "add-user-group" bubbles=false}}>
					<span>Add Group<i class="fa fa-angle-double-right" style="margin-left:5px;" /></span>
			    </button>
			    <button type="button" id="organization-manager-team-groups-button-delete-group" class="btn btn-default btn-sm" style="width:80%; margin-top:5px;" {{action "controller-action" "delete-user-group" bubbles=false}}>
					<span><i class="fa fa-angle-double-left" style="margin-right:5px;" />Del Group</span>
			    </button>
			</div>
		</div>
		<div class="col-md-5" style="margin:0px; padding:0px;">
			<div id="organization-manager-team-groups-used-tree-container" style="min-height:250px; max-height:250px; border-left:1px solid #f4f4f4; padding-top:10px;">&nbsp;</div>
		</div>
	</div>
</div>
</script>

<script type="text/x-handlebars" data-template-name="components/organization-manager-team">
<div class="box box-default" style="text-align:left; margin-bottom:0px;">
	<div class="box-header with-border">
		<h3 class="box-title">{{model.name}} Users</h3>
		<div class="pull-right" style="cursor:pointer; margin:0px 5px;">
		{{#if isCreating}}
		    <button type="button" class="btn btn-warning btn-sm" {{action "controller-action" "hide-create-user" bubbles=false}}>
				<span>Cancel New User<i class="fa fa-caret-up" style="margin-left:5px;" /></span>
		    </button>
		{{else}}
		    <button type="button" class="btn btn-success btn-sm" {{action "controller-action" "show-create-user" bubbles=false}}>
				<span>Create New User<i class="fa fa-caret-down" style="margin-left:5px;" /></span>
		    </button>
		{{/if}}
		</div>
	</div>
	<div id="organization-manager-team-create-user" class="box-body" style="margin:0px; background-color:#eee; padding:10px 0px; display:none;">
		<div class="form-group col-md-4">
			<label>Email<sup>*</sup></label>
			{{input id="organization-manager-team-input-email" type="text" class="form-control" placeholder="root@twyrportal.com"}}
		</div>
		<div class="form-group col-md-3">
			<label>First Name<sup>*</sup></label>
			{{input id="organization-manager-team-input-first-name" type="text" class="form-control" placeholder="First/Given Name"}}
		</div>
		<div class="form-group col-md-3">
			<label>Last Name<sup>*</sup></label>
			{{input id="organization-manager-team-input-last-name" type="text" class="form-control" placeholder="Family Name / Surname"}}
		</div>
		<div class="form-group col-md-2" style="padding-top:25px; text-align:right;">
		    <button type="button" class="btn btn-primary btn-sm" {{action "controller-action" "create-tenant-user" model}}>
				<i class="fa fa-plus" style="margin-right:5px;" /><span>Create New User</span>
		    </button>
		</div>
	</div>
	<div class="box-body no-padding" style="margin-top:40px;">
	<div class="col-md-6">
		<table id="organization-manager-team-list-table" class="table table-bordered table-striped" role="grid">
		<thead>
			<tr>
				<th style="vertical-align:middle;">Login</th>
				<th style="vertical-align:middle;">Name</th>
				<th style="vertical-align:middle;">Added On</th>
				<th style="text-align:right; vertical-align:middle; padding-right:8px;">
				    <button type="button" class="btn btn-primary btn-sm" {{action "controller-action" "add-tenant-user" model bubbles=false}}>
						<i class="fa fa-plus" style="margin-right:5px;" /><span>Add Registered User</span>
				    </button>
				</th>
			</tr>
		</thead>
		<tbody>
		{{#each tenantTeam as |tenantUser index|}}
		{{#if tenantUser.isNew}}
		<tr>
			<td colspan="2" class="form-group" style="vertical-align:middle;">
				<select id="organization-manager-team-tab-select-{{tenantUser.id}}" class="form-control" style="width:100%;" />
			</td>
			<td style="vertical-align:middle;">{{tenantUser.formattedCreatedOn}}</td>
			<td style="text-align:right; vertical-align:middle;">
			    <button type="button" class="btn btn-danger btn-sm" {{action "controller-action" "delete-tenant-user" tenantUser bubbles=false}}>
					<i class="fa fa-remove" style="margin-right:5px;" /><span>Delete</span>
			    </button>
			</td>
		</tr>
		{{else}}
		{{#if tenantUser.isSelected}}
			<tr style="background-color:#428bca; color:#fff;">
				<td style="vertical-align:middle;">{{tenantUser.user.login}}</td>
				<td style="vertical-align:middle;">{{tenantUser.user.fullName}}</td>
				<td style="vertical-align:middle;">{{tenantUser.formattedCreatedOn}}</td>
				<td style="text-align:right; vertical-align:middle;">
					{{#if canDeleteUsers}}
				    <button type="button" class="btn btn-danger btn-sm" {{action "controller-action" "delete-tenant-user" tenantUser bubbles=false}}>
						<i class="fa fa-remove" style="margin-right:5px;" /><span>Delete</span>
				    </button>
					{{else}}
						&nbsp;
					{{/if}}
				</td>
			</tr>
		{{else}}
			<tr {{action "controller-action" "select-tenant-user" tenantUser bubbles=false}}>
				<td style="vertical-align:middle;">{{tenantUser.user.login}}</td>
				<td style="vertical-align:middle;">{{tenantUser.user.fullName}}</td>
				<td style="vertical-align:middle;">{{tenantUser.formattedCreatedOn}}</td>
				<td style="text-align:right; vertical-align:middle;">
					{{#if canDeleteUsers}}
				    <button type="button" class="btn btn-danger btn-sm" {{action "controller-action" "delete-tenant-user" tenantUser bubbles=false}}>
						<i class="fa fa-remove" style="margin-right:5px;" /><span>Delete</span>
				    </button>
					{{else}}
						&nbsp;
					{{/if}}
				</td>
			</tr>
		{{/if}}
		{{/if}}
		{{/each}}
		</tbody>
		</table>
	</div>
	<div class="col-md-6">
		{{organization-manager-team-groups model=selectedTenantUser controller-action=(action 'controller-action')}}
	</div>
	</div>
</div>
</script>
