<script type="text/x-handlebars" data-template-name="components/organization-manager-users">
<div class="box box-default" style="text-align:left; margin-bottom:0px;">
	<div class="box-header with-border">
		<h3 class="box-title">{{model.name}} Users</h3>
	</div>
	<div class="box-body no-padding">
	<div class="row" style="margin:0px; background-color:#eee; padding:10px 0px;">
		<div class="form-group col-md-4">
			<label>Email<sup>*</sup></label>
			{{input id="organization-manager-users-input-email" type="text" class="form-control" placeholder="root@twyrportal.com"}}
		</div>
		<div class="form-group col-md-3">
			<label>First Name<sup>*</sup></label>
			{{input id="organization-manager-users-input-first-name" type="text" class="form-control" placeholder="First/Given Name"}}
		</div>
		<div class="form-group col-md-3">
			<label>Last Name<sup>*</sup></label>
			{{input id="organization-manager-users-input-last-name" type="text" class="form-control" placeholder="Family Name / Surname"}}
		</div>
		<div class="form-group col-md-2" style="padding-top:25px; text-align:right;">
		    <button type="button" class="btn btn-success btn-sm" {{action "controller-action" "create-tenant-user" model}}>
				<i class="fa fa-plus" style="margin-right:5px;" /><span>Create New User</span>
		    </button>
		</div>
	</div>
	</div>
	<div class="box-body no-padding">
		<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th style="vertical-align:middle;">Login</th>
				<th style="vertical-align:middle;">First Name</th>
				<th style="vertical-align:middle;">Last Name</th>
				<th style="vertical-align:middle;">Added On</th>
				<th style="text-align:right; vertical-align:middle;">
				    <button type="button" class="btn btn-primary btn-sm" {{action "controller-action" "add-tenant-user" model bubbles=false}}>
						<i class="fa fa-plus" style="margin-right:5px;" /><span>Add Registered User</span>
				    </button>
				</th>
			</tr>
		</thead>
		<tbody>
		{{#each model.users as |tenantUser index|}}
		<tr>
		{{#if tenantUser.isNew}}
			<td colspan="3" class="form-group" style="vertical-align:middle;">
				<select id="organization-manager-users-tab-select-{{tenantUser.id}}" class="form-control" style="width:100%;" />
			</td>
			<td style="vertical-align:middle;">{{tenantUser.formattedCreatedOn}}</td>
			<td style="text-align:right; vertical-align:middle;">
			    <button type="button" class="btn btn-danger btn-sm" {{action "controller-action" "delete-tenant-user" tenantUser bubbles=false}}>
					<i class="fa fa-remove" style="margin-right:5px;" /><span>Delete</span>
			    </button>
			</td>
		{{else}}
			<td style="vertical-align:middle;">{{tenantUser.user.login}}</td>
			<td style="vertical-align:middle;">{{tenantUser.user.firstName}}</td>
			<td style="vertical-align:middle;">{{tenantUser.user.lastName}}</td>
			<td style="vertical-align:middle;">{{tenantUser.formattedCreatedOn}}</td>
			<td style="text-align:right; vertical-align:middle;">
			    <button type="button" class="btn btn-danger btn-sm" {{action "controller-action" "delete-tenant-user" tenantUser bubbles=false}}>
					<i class="fa fa-remove" style="margin-right:5px;" /><span>Delete</span>
			    </button>
			</td>
		{{/if}}
		</tr>
		{{/each}}
		</tbody>
		</table>
	</div>
</div>
</script>

<script type="text/x-handlebars" data-template-name="components/organization-manager-suborganizations">
{{#if model.isOrganization}}
<div class="box box-default" style="text-align:left; box-shadow:none;">
	<div class="box-header with-border">
		<h3 class="box-title">{{model.name}} Subsidiaries</h3>
		<div class="pull-right" style="cursor:pointer; margin:0px 5px;" {{action "controller-action" "add-subsidiary" model bubbles=false}}>
		    <button type="button" class="btn btn-primary btn-sm">
				<i class="fa fa-plus" style="margin-right:5px;" /><span>Add Subsidiary</span>
		    </button>
		</div>
	</div>
	<div class="box-body no-padding">
	<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th style="vertical-align:middle;">Name</th>
			<th style="vertical-align:middle;">Parent Organization</th>
			<th style="vertical-align:middle;">Created On</th>
			<th style="vertical-align:middle;">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	{{#each model.suborganizations as |suborganization index|}}
		<tr>
		{{#if suborganization.isOrganization}}
			<td style="vertical-align:middle;">{{suborganization.name}}</td>
			<td style="vertical-align:middle;">{{suborganization.parent.name}}</td>
			<td style="vertical-align:middle;">{{suborganization.formattedCreatedOn}}</td>
			<td style="text-align:right; vertical-align:middle;">
			    <button type="button" class="btn btn-danger btn-sm" {{action "controller-action" "delete-organization" suborganization bubbles=false}}>
					<i class="fa fa-remove" style="margin-right:5px;" /><span>Delete</span>
			    </button>
			</td>
		{{/if}}
		</tr>
	{{/each}}
	</tbody>
	</table>
	</div>
</div>
{{/if}}

<div class="box box-default" style="text-align:left; margin-bottom:0px; box-shadow:none;">
	<div class="box-header with-border">
		<h3 class="box-title">{{model.name}} Departments</h3>
		<div class="pull-right" style="cursor:pointer; margin:0px 5px;" {{action "controller-action" "add-department" model bubbles=false}}>
		    <button type="button" class="btn btn-primary btn-sm">
				<i class="fa fa-plus" style="margin-right:5px;" /><span>Add Department</span>
		    </button>
		</div>
	</div>
	<div class="box-body no-padding">
	<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th style="vertical-align:middle;">Name</th>
			<th style="vertical-align:middle;">Parent Organization</th>
			<th style="vertical-align:middle;">Created On</th>
			<th style="vertical-align:middle;">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	{{#each model.suborganizations as |suborganization index|}}
		<tr>
		{{#if suborganization.isDepartment}}
			<td style="vertical-align:middle;">{{suborganization.name}}</td>
			<td style="vertical-align:middle;">{{suborganization.parent.name}}</td>
			<td style="vertical-align:middle;">{{suborganization.formattedCreatedOn}}</td>
			<td style="text-align:right; vertical-align:middle;">
			    <button type="button" class="btn btn-danger btn-sm" {{action "controller-action" "delete-organization" suborganization bubbles=false}}>
					<i class="fa fa-remove" style="margin-right:5px;" /><span>Delete</span>
			    </button>
			</td>
		{{/if}}
		</tr>
	{{/each}}
	</tbody>
	</table>
	</div>
</div>
</script>

<script type="text/x-handlebars" data-template-name="components/organization-manager-editor">
<<div class="box box-default" style="text-align:left; margin-bottom:0px; border-radius:0px; border-top-width:1px;">
	<div class="box-header with-border">
		<h3 class="box-title">{{model.name}} Organization</h3>
		<div class="pull-right" style="cursor:pointer; margin:0px 5px;" {{action "controller-action" "delete-organization" model bubbles=false}}>
		    <button type="button" class="btn btn-danger btn-sm">
				<i class="fa fa-remove" style="margin-right:5px;" /><span>Delete</span>
		    </button>
		</div>
		{{#if model.hasDirtyAttributes}}
		{{#unless model.isNew}}
		<div class="pull-right" style="cursor:pointer; margin:0px 5px;" {{action "controller-action" "cancel" bubbles=false}}>
		    <button type="button" class="btn btn-warning btn-sm">
				<i class="fa fa-undo" style="margin-right:5px;" /><span>Cancel</span>
		    </button>
		</div>
		{{/unless}}
		<div class="pull-right" style="cursor:pointer; margin:0px 5px;" {{action "controller-action" "save-organization" model bubbles=false}}>
		    <button type="submit" class="btn btn-primary btn-sm">
				<i class="fa fa-save" style="margin-right:5px;" /><span>Save</span>	
		    </button>
		</div>
		{{/if}}
	</div>
	<div class="box-body">
		<div class="form-group col-md-4">
			<label>Organization Name</label>
			{{input type="text" value=model.name class="form-control" placeholder="Organization Name"}}
		</div>
		<div class="form-group col-md-4">
			<label>Parent Organization</label>
			{{input type="text" value=model.parent.name class="form-control" placeholder="Parent Organization Name" readonly="readonly"}}
		</div>
		<div class="form-group col-md-4">
			<label>Member Since</label>
			{{input type="text" value=model.formattedCreatedOn class="form-control" placeholder="Created On" readonly="readonly"}}
		</div>
	</div>
	{{#unless model.isNew}}
	<div class="box-body no-padding" style="margin-top:50px;">
	<div class="nav-tabs-custom" style="margin:0px;">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#organization-manager-suborganizations-tab" data-toggle="tab">{{model.name}} Suborganizations</a></li>
			<li><a href="#organization-manager-users-tab" data-toggle="tab">{{model.name}} Users</a></li>
			<% for(var idx =0; idx < components.length; idx++) { %>
			<li><a href="#organization-manager-<%= components[idx].name %>-tab" data-toggle="tab">{{model.name}} <%= components[idx].displayName %></a></li>
			<% } %>
		</ul>
		<div class="tab-content" style="padding:0px;">
			<div class="tab-pane active" id="organization-manager-suborganizations-tab">
				{{organization-manager-suborganizations model=model controller-action="controller-action"}}
			</div>
			<div class="tab-pane" id="organization-manager-users-tab">
				{{organization-manager-users model=model controller-action="controller-action"}}
			</div>
			<% for(var idx =0; idx < components.length; idx++) { %>
			<div class="tab-pane" id="organization-manager-<%= components[idx].name %>-tab">
				{{<%= components[idx].name %> model=model controller-action="controller-action"}}
			</div>
			<% } %>
		</div>
	</div>
	</div>
	{{/unless}}
</div>
</script>


<script type="text/x-handlebars" data-template-name="components/organization-manager-tree">
<div class="box box-default" style="text-align:left; margin-bottom:0px; border-radius:0px; border-top-width:1px; box-shadow:none;">
	<div class="box-header with-border" style="height:50px;">
		<h3 class="box-title">Menu</h3>
	</div>
	<div class="box-body">
		<div id="organization-manager-tree-container">&nbsp;</div>
	</div>
</div>
</script>


<script type="text/x-handlebars" data-template-name="organization-manager">
<div class="box box-default" style="text-align:left; margin-bottom:0px; box-shadow:none;">
	<div class="box-header with-border">
		<h3 class="box-title">Organization Manager</h3>
	</div>
	<div class="box-body no-padding">
		<div class="col-md-2" style="padding:0px;">
			{{organization-manager-tree model=currentModel deleteTreeNode=deleteTreeNode controller-action="controller-action"}}
		</div>
		<div class="col-md-10" style="padding:0px;">
			{{organization-manager-editor model=currentModel controller-action="controller-action"}}
		</div>
	</div>
</div>
</script>
