<script type="text/x-handlebars" data-template-name="components/logout-form">
	<li id="li-settings-menu" class="user">
		<span class="glyphicon glyphicon-log-out" style="font-size:16px; cursor:pointer;" {{action "controller-action" "doLogout"}} data-toggle="tooltip" data-placement="bottom" title="Logout"></span>
	</li>
</script>
