<script type="text/x-handlebars" data-template-name="components/logout-form">
	<li id="li-settings-menu" class="user">
		<span class="glyphicon glyphicon-log-out" style="font-size:24px; cursor:pointer;" {{action "doLogout"}}></span>
	</li>
</script>